@import url("https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap");

:root {
  --navbar-gap: 30px;
}

.App {
  font-size: 18px;
}

.btn {
  display: flex;
  border-radius: 10px;
  padding: 20px;
  width: 125px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
}

.action-btn {
  background-color: #000000;
}

.btn > p {
  font-family: "Inter";
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
}

.action-btn > p {
  font-family: "Inter";
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.navbar-container {
  width: calc(100% - 50px);
  margin-left: 25px;
  position: fixed;
}

.navbar {
  display: flex;
  gap: var(--navbar-gap);
  font-weight: bold;
  align-items: baseline;
}

.navbar > h1 {
  font-family: "Kameron";
  font-style: normal;
  font-size: 36px;
  line-height: 46px;
}

.navbar-pages {
  list-style: none;
  gap: var(--navbar-gap);
  display: flex;
}

.navbar > div {
  flex-grow: 1;
}
