@import url("https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap");

:root {
  --navbar-gap: 30px;
}

.App {
  font-size: 18px;
  text-align: center;
}

.navbar-container {
  width: calc(100% - 50px);
  margin-left: 25px;
  position: fixed;
  background-color: white;
  height: 70px;
}

.navbar {
  display: flex;
  gap: var(--navbar-gap);
  font-weight: bold;
  align-items: baseline;
}

.navbar > h1 {
  font-family: "Kameron";
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
}

.navbar > div {
  flex-grow: 1;
}

.content-container {
  padding-top: 80px;
}

.recipe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.one-recipe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 16rem;
  height: 16rem;
  margin: 2px;
  border: 2px solid green;

  font-weight: bold;
}

.one-recipe-img {
  width: 8rem;
  height: 6rem;
}

.one-recipe-ingredients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.filter-modal-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.filter-button {
  width: 15px;
}

.fib-basic {
  border-radius: 20px;
  padding: 5px 15px;
}

.fib-unselected {
  background-color: white;
  color: rgb(74, 72, 72);
  border: 1px solid gainsboro;
}

.filter-option-list-wrapper {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
