@import url("https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap");

:root {
  --navbar-gap: 30px;
}

.App {
  font-size: 18px;
}

.navbar-container {
  width: calc(100% - 50px);
  margin-left: 25px;
  position: fixed;
}

.navbar {
  display: flex;
  gap: var(--navbar-gap);
  font-weight: bold;
  align-items: baseline;
}

.navbar > h1 {
  font-family: "Kameron";
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
}

.navbar-pages {
  list-style: none;
  gap: var(--navbar-gap);
  display: flex;
}

.navbar > div {
  flex-grow: 1;
}

.sign-modal {
  padding: 25px;
}
